*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
html{
    overflow-x: hidden;
}
section{
    width: 100vw;
}
ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 400px));
    grid-gap: 4vw;
    width: 90vw;
    margin-top: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
}
ul li{
    padding: 1vw;
    border: 0.1vw rgb(185, 185, 185) solid;
}
ul li h2{
    margin-bottom: 1vw;
}
ul li p{
    font-family:'Courier New', Courier, monospace;
}
.update{
    width: 12vw;
    height: 2vw;
    background-color: rgb(85, 234, 245);
    border: none;
    color: black;
    transition: 500ms;
    margin-top: 1vw;
}
.update:hover{
    cursor: pointer;
    background: transparent;
    border: 0.1vw rgb(72, 198, 207) solid;
}
.delete{
    width: 12vw;
    height: 2vw;
    background: transparent;
    border: 0.1vw rgb(222, 35, 35) solid;
    color: black;
    transition: 500ms;
    margin-top: 1vw;
}
.delete:hover{
    cursor: pointer;
    background: transparent;
    border: none;
    background-color: rgb(238, 63, 63);
    color: white;
}
section div{
    display: flex;
    flex-direction: row;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 25vw;
    padding: 1vw;
    border: 0.1vw rgb(185, 185, 185) solid;
    margin-left: 5vw;
    margin-top: 2vw;
}
h1{
    font-size: 2vw;
}
form input{
    height: 2vw;
    padding-left: 0.5vw;
}
form textarea{
    padding: 0.5vw;
}
form button{
    height: 2.5vw;
    border: none;
    color: white;
    font-size: 1.2vw;
    background-color: rgb(98, 224, 98);
}
form button:hover{
    cursor: pointer;
}